<span class="screenLabel">Record</span>
<div class="top">
</div>
<div class="row">
    <div class="small-12 large-4 columns text-center">
        <canvas id="video"></canvas>
        <button id="left" class="large success button" style="float:left;">&lt;</button>
        <button id="right" class="large success button" style="float:right;">&gt;</button>
        <p class="top">00:08</p>
        <p class="lead">Give an overview</p>
    </div>
</div>
<div class="bottom text-center">
    <button id="review" class="large alert button">Stop</button>
</div>

<script type="text/javascript">
</script>