<span class="screenLabel">Uploading</span>
<div class="top">
	<div class="progress" role="progressbar" tabindex="0" aria-valuenow="40" aria-valuemin="0"
		 aria-valuetext="40 percent" aria-valuemax="100">
		<div class="progress-meter" style="width: 40%"></div>
	</div>
</div>

<div class="row column text-center">
	<p class="lead">Uploading...</p>
</div>
<div class="bottom text-center">
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('body').removeClass('bgImg img-angle');
    });

</script>