<span class="screenLabel">Welcome</span>
<div class="row text-center">
    <div class="small-12 medium-6 large-4 medium-centered large-centered columns">
        <div class="callout faded">
            <h1><strong>ANGLES</strong></h1>
            <h3 class="lead">Augmenting Next-Generation Learning Environments with Stories</h3>
            <p class="text-left">ANGLES offers short, first-person accounts as a learning resource for training applications.</p>
        </div>
            <button id="begin" class="large expanded button">Begin</button>
    </div>
</div>

<script type="text/javascript">
</script>
