<div class="row">
	<div class="medium-8 columns medium-centered">
		<h1 style="margin-top: 2em;">Discover Stories</h1>
		<div class="input-group">
			<span class="input-group-label"><i class="fa fa-user" aria-hidden="true"></i></span>
			<input id="question" class="input-group-field" type="text" placeholder="What's your question?">
			<div class="input-group-button">
				<button id="search" class="large button">Ask it</button>
			</div>
		</div>
		<hr/>

		<div id="topicList"><span class="screenLabel">Home</span>
			<h2 class="lead">Explore Topics</h2>
			<ul class="topics">
				<a storyCyberCategory="http://schema.eduworks.com/angles/0.1/storyCyberCategory/alternativeCoursesOfAction">Alternative Courses of Action</a><br>
				<a storyCyberCategory="http://schema.eduworks.com/angles/0.1/storyCyberCategory/analysis">Analysis</a><br>
				<a storyCyberCategory="http://schema.eduworks.com/angles/0.1/storyCyberCategory/backgroundAndContext">Background and Context</a><br>
				<a storyCyberCategory="http://schema.eduworks.com/angles/0.1/storyCyberCategory/consequences">Consequences</a><br>
				<a storyCyberCategory="http://schema.eduworks.com/angles/0.1/storyCyberCategory/examples">Examples</a><br>
				<a storyCyberCategory="http://schema.eduworks.com/angles/0.1/storyCyberCategory/indicatorsAndWarnings">Indicators and Warnings</a><br>
				<a storyCyberCategory="http://schema.eduworks.com/angles/0.1/storyCyberCategory/lessonsLearned">Lessons Learned</a><br>
				<a storyCyberCategory="http://schema.eduworks.com/angles/0.1/storyCyberCategory/opportunities">Opportunities</a><br>
				<a storyCyberCategory="http://schema.eduworks.com/angles/0.1/storyCyberCategory/responseMeasures">Response Measures</a><br>
				<a storyCyberCategory="http://schema.eduworks.com/angles/0.1/storyCyberCategory/tipsAndTechniques">Tips and Techniques</a>
			</ul>
		</div>

	</div>
</div>